
<% if User.current.allowed_to?(:vote_votes, Project.find_by_id(vote.project_id))%>
<% form_tag({:controller => 'votes', :action => 'vote',:project_id => vote.project_id,
                                     :back_url => url_for(params)}) do %>
<table class="list">
    <tr>
        <th><%= vote.question %> </th>
        <th style="width:10%"/>
        <th style="width:10%"/>
    </tr>

    <% vote.choices.each do |choice| %>
        <tr>
            <td> <%= choice.text %> </td>
            <td align="center"><%= choice.votes.size.to_s %> </td>
            <td align="right">
                <nobr>
                    <%
                       is_voted = vote!=nil ? choice.id == vote.choice_id : false
                    %>
                    <%= link_to(image_tag('false.png'),
                                {:controller => 'votes', :action => 'reset_vote', :vote_id => vote , :project_id => vote.project_id,
                                :back_url => url_for(params)},
                                :method => :post,:title => l(:vote_remove)) if is_voted and vote.revote %>
                    <%= radio_button_tag(:choice_id, choice.id, is_voted, :onclick => "this.form.submit()", :disabled => (vote and !vote.revote)) %>
                </nobr>
            </td>
        </tr>
    <% end %>

</table>
<% end %>
<% end %>